<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-div class="ion-div-content">
          <ion-img src="../../assets/Qatar2022.png"></ion-img>
          <ion-div class="form-content-op">
            <button class="btn-register-form"
            [routerLink]="['/registration']"
            >Registrarse</button>
          <span class="already">Ya tenes cuenta?</span>
          <button [routerLink]="['/login']" class="btn-login-form" 
            >Iniciar Sesion</button>
          </ion-div>
          
        </ion-div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
